* {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 500px;
    background-color: grey;

    /* ↓.container{height:100%;}とは別のやり方 */
    display: flex;
    flex-direction: row;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    /* ↑.containerに高さを指定しないと、子要素.boxの高さに依存してしまう。 */
    /* よって、.containerの親要素であるmainの高さと同じ高さ（height:100%;）を指定しなければならない。 */
}
.box {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}